<h1 class="log-title col-2">Logs</h1>
<% if @user.microposts.any? %>
  <div class="container">
  
    <ol class="microposts">
    <% @microposts.each do |micropost| %>
      <li id ="micropost-<%= micropost.id %>">
        <span class="row log-list">
          <span class="col-2 log-timestamp d-none d-md-inline-block log-timestamp-block">
            <span class="log-timestamp"><%= time_ago_in_words(micropost.created_at) %>前</span>
          </span>
          <span class="col-md-10 col-log-memos">
            <div class="log-time-and-edit">
              <div class="row">
                
                <span class="col-7 log-timestamp log-timestamp-inline"><%= time_ago_in_words(micropost.created_at) %>前</span>
                <span class="log-edit col-2"><%= link_to image_tag('sample_muscle.jpg', class: "log-edit-image"), edit_micropost_path(micropost) %></span>
              </div>
            </div>
            <% if micropost.content.present? %>
              <div class="log-content"><%= micropost.content %></div>
            <% end %>
            <% if micropost.image.attached? %>
              <div class="log-image"><%= image_tag micropost.resize_image %></div>
            <% end %>
          </span>
        </span>
      </li>
    <% end %>
    </ol>
  </div>

  <%= paginate @microposts, window: 10, outer_window: 1 %>
<% else %>
  <span>まだ投稿がありません</span>
<% end %>
